@font-face {
  font-family: 'CharisSIL';
  src:
    url('./fonts/CharisSIL-Regular.ttf') format('truetype'),
    url('./fonts/CharisSIL-Regular.woff') format('woff'),
    url('./fonts/CharisSIL-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  size-adjust: 90%;
}
@font-face {
  font-family: 'CharisSIL';
  src:
    url('./fonts/CharisSIL-Bold.ttf') format('truetype'),
    url('./fonts/CharisSIL-Bold.woff') format('woff'),
    url('./fonts/CharisSIL-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  size-adjust: 90%;
}
@font-face {
  font-family: 'CharisSIL';
  src:
    url('./fonts/CharisSIL-Italic.ttf') format('truetype'),
    url('./fonts/CharisSIL-Italic.woff') format('woff'),
    url('./fonts/CharisSIL-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  size-adjust: 90%;
}
@font-face {
  font-family: 'CharisSIL';
  src:
    url('./fonts/CharisSIL-BoldItalic.ttf') format('truetype'),
    url('./fonts/CharisSIL-BoldItalic.woff') format('woff'),
    url('./fonts/CharisSIL-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  size-adjust: 90%;
}

* {
  box-sizing: border-box;
}

.charis {
  font-family: 'CharisSIL', 'Times New Roman', Times, serif;
}

.monospace {
  font-family: 'Courier New', Courier, monospace;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 0.2em;
}

.DraftEditor-root,
.DraftEditor-editorContainer,
.public-DraftEditor-content {
  height: 100%;
}
